{% load static %}

<!doctype html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    
    {% block titulo %}
        <title>Escolinha</title>
    {% endblock %}

  </head>
  <body>
  
    {% block menu %}
      
    <nav class="navbar navbar-dark bg-primary">
        <div class="container-fluid">
            <span class="navbar-brand mb-0 h1">Escolinha</span>

            <ul class="nav nav-pills">
                <li class="nav-item"><a href="{% url 'home' %}" class="nav-link" aria-current="page"><font color="white">Home</font></a></li>
                <li class="nav-item"><a href="{% url 'indexAluno' %}" class="nav-link"><font color="white">Alunos</font></a></li>
                <li class="nav-item"><a href="{% url 'indexAula' %}" class="nav-link"><font color="white">Aulas</font></a></li>
                <li class="nav-item"><a href="{% url 'indexProfessor' %}" class="nav-link"><font color="white">Professores</font></a></li>
                <li class="nav-item"><a href="{% url 'indexTurma' %}" class="nav-link"><font color="white">Turmas</font></a></li>
                <li class="nav-item"><a href="{% url 'indexStatus' %}" class="nav-link"><font color="white">Status</font></a></li>
                <li class="nav-item"><a href="{% url 'indexUsuario' %}" class="nav-link"><font color="white">Usuarios</font></a></li>
                {% if request.user.is_authenticated %}
                  <li class="nav-item">
                    <form action="{% url 'logout' %}" method="post">
                        {% csrf_token %} 

                        <a class="nav-link collapsed" href="/logout"
                            onclick="event.preventDefault(); this.closest('form').submit();">
                            <i class="bi bi-card-list"></i>
                            <span><font color="white">Sair</font></span>
                        </a>

                    </form>
                </li>
                {% endif %}
            </ul>
    
        </div>
    </nav>
    {% endblock %}

    <div class="container">
        {% block descricaoPagina %}
        <br>
        {% endblock %}

        {% block conteudo %}

          <main class="login-form">
            <div class="cotainer">
              <div class="row justify-content-center">
                <div class="col-md-8"> 
                  <h1>&nbsp;Projeto Escolinha de Futebol Liberdade</h1>
                  <div class="card">
                    <div class="card-body">
                      <img src="{% static 'imagens/JogadorFutebolSilhueta.png' %}" height="300" class="card-img-top" alt="...">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </main>

        {% endblock %}
    </div>
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
  </body>
</html>